<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_wallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EWallet">
        <activity android:name=".invoice_bank"></activity>
        <activity android:name=".invoice_ewallet" />
        <activity android:name=".konfirmasi_transfer_ewallet" />
        <activity android:name=".konfirmasi_transfer_bank" />
        <activity android:name=".transfer_bank" />
        <activity android:name=".transfer_ewallet" />
        <activity android:name=".profile" />
        <activity android:name=".transfer" />
        <activity android:name=".home" />
        <activity android:name=".login" />
        <activity android:name=".Regist" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>